$bobble-distance-short: 4px;
$bobble-distance-long: 8px;

$primary-color: #ff00cc;
// $primary-color: #00ffff;

$button-color: $primary-color;
$button-border-color: darken($primary-color, 0.2);
$button-glow-color: rgba($primary-color, 0.5);